//use Roboto font
html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body input,
body button,
body select,
body textarea {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

@mixin boxShadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
}

@mixin buttonShadow {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

//raise and round buttons
.btn {
  border-radius: 2px;
  @include boxShadow;
}

//remove shadow from a few buttons
.d-editor-button-bar .btn,
.bulk-select-all,
.bulk-clear-all,
.period-chooser-header,
.topic-map .btn.no-text,
.badge-section .btn,
#revision .btn,
#new-account-link,
#login-link {
  border-radius: 0;
  box-shadow: none;
}

//No more image cropping
#reply-control .d-editor-preview img:not(.thumbnail):not(.emoji),
.cooked img:not(.thumbnail):not(.emoji) {
  max-width: 100% !important;
  height: auto;
}
