//use Roboto font
html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body input,
body button,
body select,
body textarea {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

@mixin boxShadow {
  // Matched from https://material.io/components/cards/
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

@mixin buttonShadow {
  // Matched from https://material.io/components/buttons/
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

//raise and round buttons
.btn {
  border-radius: 4px;
  @include boxShadow;
  &.btn-flat.close {
    box-shadow: none;
  }
}

//remove shadow from a few buttons
.d-editor-button-bar .btn,
.bulk-select-all,
.bulk-clear-all,
.period-chooser-header,
.topic-map .btn.no-text,
.badge-section .btn,
#revision .btn,
#new-account-link,
#login-link {
  border-radius: 0;
  box-shadow: none;
}

// Topic adjustments

.small-action {
  border-top: none;
  margin-top: 1em;
  max-width: 808px;
  button {
    margin-left: 1em;
    background-color: var(--material-lighter-secondary);
  }
}

.read-state {
  right: 1em;
}

.gap {
  margin-top: 1em;
}

.post-notice {
  border: none;
  background: transparent;
  margin-left: 50px;
  margin-top: 0.75em;
}

.popup-menu .btn {
  box-shadow: none;
}
