$var-bgcolor-base: #ddd;
$nav-links: #666;
$var-logo-width: 280px;
$text-color:#333;
$link-primary:#E96A1E;
$black:#000;
$white:#fff;
$selection:#F4E0BD;
$smoke:rgba($black,0.1);
$ash:rgba($black,0.3);
