@import 'shared';

//FAB specific styles
%fabShadow {
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

//New Topic Fab
#create-topic.btn-default {
    @extend %shadow;
    border-radius: 40px;
    position: fixed;
    bottom: 30px;
    right: 50px;
    z-index: 999;
    padding: 20px 2px 20px;
    background-color: $quaternary;
    color: $quaternary;
    white-space: nowrap;
    text-indent: 10px;
    overflow: hidden;
    width: 56px;
    height: 56px;
    -webkit-transition: right .5s, bottom .5s, border-radius .5s, text-indent .2s, visibility 1s, width .2s ease, height .5s ease .4s, color .5s, background-color 2s, -webkit-transform .5s;
    transition: right .5s, bottom .5s, border-radius .5s, text-indent .2s, visibility 1s, width .2s ease, height .5s ease .4s, color .5s, background-color 2s, transform .5s;
}

#create-topic.btn-default i {
    color: $header-primary;
}

#create-topic.btn-default:hover {
    text-indent: 0px;
    width: 190px;
    color: $header-primary;
}

//remove opacity setting
.btn i.fa {
    opacity: 1;
}

//Reply Fab
.timeline-footer-controls {
    position: relative;
}

.widget-button.btn.create.no-text {
    @extend %fabShadow;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: -18px;
    z-index: 999;
    padding: 5px 12px 0px 0px;
    background-color: $quaternary;
    color: $header-primary;
    text-indent: 10px;
    overflow: hidden;
    width: 56px;
    height: 56px;
    -webkit-transition: right .5s, bottom .5s, border-radius .5s, text-indent .2s, visibility 1s, width .2s ease, height .5s ease .4s, color .5s, background-color 2s, -webkit-transform .5s;
    transition: right .5s, bottom .5s, border-radius .5s, text-indent .2s, visibility 1s, width .2s ease, height .5s ease .4s, color .5s, background-color 2s, transform .5s;
}

.widget-button.btn.create.no-text:hover {
    background-color: darken($quaternary, 2%);
    color: $header-primary;
}

//Center and increase size of reply icon
.widget-button.btn.create .fa-reply {
    color: $header-primary;
    font-size: 20px;
    margin-left: -8px;
}
