//add space between categories
.topic-list.categories {  
      border-spacing: 0 1em;
      border-collapse: separate;
}

//change all categories and all tags
.home {
      background-color: $secondary !important;
      color: $quaternary !important;
      border: none !important;
      border-radius: 2px;
}

//change category and tag dropdowns
.chooser {
      background-color: lighten($secondary, 2%) !important;
      color: $quaternary !important;
      border: none !important;
      border-radius: 2px;
      padding: 2px !important;
}

//siteheader dropdowns
.menu-panel.drop-down {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    background-color: lighten($secondary, 2%);
    border-radius: 2px;
}

//Main topics table
.list-container .contents {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    background-color: lighten($secondary, 2%);
    border-radius: 2px;
}
 
//Suggested topics table
.topics {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    background-color: lighten($secondary, 2%);
    border-radius: 2px;
}

//topic list header cells
.topic-list th {
    text-align: left;
}

.topic-list th .btn {
    color: #919191;
}

.topic-list .sortable:hover, .topic-list button.bulk-select:hover, .topic-list button.bulk-select i.fa:hover {
    background-color: lighten($secondary, 2%) !important;
    color: $highlight !important;
}

//no border on the last table row
.topic-list > tbody > tr:last-child {
    border-bottom: none;
}

//padding for category title and description
.topic-list.categories th, .topic-list.categories td {
    padding: 0 15px 0 15px;
}

//Shadows for categories
.topic-list.categories>tbody>tr td.category, .topic-list.categories>tbody>tr td.stats, .topic-list.categories>tbody>tr td.latest{  
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
}

//remove border at "Days Later" separation and the end of discussions
.topic-status-info, .small-action {
    border-top: none;
}

//underline navigation links
.nav-pills>li.active>a, .nav-pills>li>a.active {
  color: $primary;
  font-weight: 500;
  background-color: $secondary;
  border-bottom: 3px solid $tertiary;
}

//remove highlighting navigation background on hover
.nav-pills > li > a:hover{
  background-color: $secondary;
}

//fix color of user profile navigation icons
.user-main .nav-pills {
  a.active i {
    color: $primary;
  }
  a:hover:not(.active) i {
    color: $quaternary;
  }
}

//New topic modal
#reply-control {
    background-color: lighten($secondary, 15%);
}

//Reply button on responses
nav.post-controls button.create:hover {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    background-color: $quaternary;
    color: $primary;
    border-radius: 2px;
}

//Mark/unmark solution button on responses
nav.post-controls button.accepted:hover, nav.post-controls button.unaccepted:hover {
    background-color: rgba($success, .4);
    color: $success;
    border-radius: 20px;
}

//Delete button on responses
nav.post-controls button.delete:hover {
    background-color: rgba($danger, .4);
    color: $danger;
    border-radius: 20px;
}

//"Solution" text spacing
.post-controls .accepted-text {
    margin-right: 0px;
}

//Other options on responses
nav.post-controls button.d-hover {
    background-color: $secondary;
    color: $quaternary;
    border-radius: 20px;
}

//repeat for admin section
.admin-controls {
    background-color: rgba($secondary, .4);
    color: $primary;
    padding-bottom: 0;
}

.admin-controls .nav.nav-pills li.active a {
    background-color: rgba($secondary, .4);
    color: $tertiary;
    border-color: $tertiary;
}

.admin-controls .nav.nav-pills > li > a:hover,
.admin-controls .nav.nav-pills li.active a:hover{
    background-color: rgba($secondary, .4);
}

.admin-controls .nav-pills {
  a.active i {
    color: $tertiary;
  }
  a:hover:not(.active) i {
    color: $quaternary;
  }
}

//add shadow behind the list of topics, but not categories
.category-list, .topic-list:not(.categories){
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: lighten($secondary, 2%);
  border-radius: 2px;
  border-collapse: collapse;
}


//create conversation cards
.topic-body{
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  background-color: lighten($secondary, 2%);
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 2px;
  border-top: none;  
}

//category badges
.badge-wrapper.box {
      line-height: 2;
      vertical-align: middle;
      padding-bottom: 1px;
      margin-top: 0;
}

.badge-category-bg {
      border-radius: 2px;
}

//more space for avatars
.topic-avatar{
    border-top: 0;
    padding-right: 10px;

    .avatar-flair {
      right: 4px;
    }}

//improve format of embedded posts

.embedded-posts .topic-avatar{
    padding-left: 0px;
}
.embedded-posts.top.topic-body {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0),0 2px 10px 0 rgba(0,0,0,0);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0),0 2px 10px 0 rgba(0,0,0,0);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0),0 2px 10px 0 rgba(0,0,0,0);
    background-color: $secondary;
}


//raise and round buttons
.btn:not(.bulk-select) {
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

//flatten editor, topic-map, more badges, and revision view buttons
.d-editor-button-bar .btn,
.topic-map .btn.no-text,
.badge-section .btn,
#revision .btn {
    border-radius: 0px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0),0 2px 10px 0 rgba(0,0,0,0);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0),0 2px 10px 0 rgba(0,0,0,0);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0),0 2px 10px 0 rgba(0,0,0,0);
}

.d-header .icons > li {
    margin-right: 5px;
}

.d-header .icons .icon:hover {
    color: lighten($header-primary, 10%);
    background-color: lighten($header-background, 10%);
    border-radius: 20px;
}

//properly space buttons on login modal
button#login-link, button#new-account-link{
padding-left:inherit;
}

//darken color, remove shadow and border when pressed
.btn:active{
    background-color: rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16),0 0px 00px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16),0 0px 00px 0 rgba(0,0,0,0.12);
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16),0 0px 00px 0 rgba(0,0,0,0.12);
    
}
.btn:focus{
    outline: -webkit-focus-ring-color auto 0px;
}

.btn:hover{
    background-color: $quaternary;
    color: $header-primary;
}

.btn-danger:hover{
    background-color: lighten($danger, 10%);
    color: $secondary;
}

//shift "more" button slightly left
.more-topics .btn {
    margin-right: 10px;
}

//Misc status icons (pinnned, unpinned)
.topic-statuses .topic-status i {
    color: $highlight;
}

//Unlisted status icon
.topic-statuses .topic-status .fa-eye-slash {
    color: $danger;
}

//Archived status icon
.topic-statuses .topic-status .fa-lock {
    color: #e3a600;
}

.topic-statuses .topic-status .fa-thumb-tack {
    color: $highlight;
}

//color support for status add-on
.topic-statuses .topic-status .fa-check-square-o {
    color: $success;
}


//New Topic Fab
#create-topic.btn-default {
    border-radius: 40px;
    position: fixed;
    bottom: 30px;
    right: 50px;
    z-index: 999;
    padding: 20px 2px 20px;
    background-color: $quaternary; 
    color: $quaternary; 
    white-space: nowrap;
    text-indent: 10px;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
    box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
    overflow: hidden;
    width: 56px;
    height: 56px;
    -webkit-transition: right .5s, bottom .5s, border-radius .5s, text-indent .2s, visibility 1s, width .2s ease, height .5s ease .4s, color .5s, background-color 2s, -webkit-transform .5s;
    transition: right .5s, bottom .5s, border-radius .5s, text-indent .2s, visibility 1s, width .2s ease, height .5s ease .4s, color .5s, background-color 2s, transform .5s;
}

#create-topic.btn-default i {
    color: $header-primary;
}

#create-topic.btn-default:hover {
    text-indent: 0px;
    width: 190px;
    color: $header-primary;
}


//Reply Fab
.timeline-footer-controls {
    position: relative;
}
.widget-button.btn.create {
    border-radius: 40px;
    position: absolute;
    top: 50px;
    left: -18px;
    z-index: 999;
    padding: 5px 12px 0px 0px;
    background-color: $quaternary;
    color: $header-primary;
    text-indent: 10px;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
    box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
    overflow: hidden;
    width: 56px;
    height: 56px;
    -webkit-transition: right .5s, bottom .5s, border-radius .5s, text-indent .2s, visibility 1s, width .2s ease, height .5s ease .4s, color .5s, background-color 2s, -webkit-transform .5s;
    transition: right .5s, bottom .5s, border-radius .5s, text-indent .2s, visibility 1s, width .2s ease, height .5s ease .4s, color .5s, background-color 2s, transform .5s;
}

//Center and increase size of reply icon
.widget-button.btn.create .fa-reply{
    color: $header-primary;
    font-size: 20px;
    margin-left: -8px;
}


//Proper spacing for iPad portrait
@media only screen 
and (min-width : 768px)
and (max-width: 1250px)
{
    .timeline-container {
        margin-left: 820px;
    }
    .topic-admin-popup-menu{
        left:-40% !important;
        
    }

}

//Properly space notifications button
.widget-button.btn.notifications-dropdown{
    right: 4px;
    position: relative;
    border-radius: 40px;
    width: 30px;
    padding: 6px;
}

//cards for search results
.fps-result{
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  background-color: lighten($secondary, 10%);
  margin-top: 10px;
  padding: 20px;
  border-radius: 2px;
}


@keyframes background-fade-highlight {
    0% {
        background-color: rgba($tertiary, .4);
    }

    100% {
        background-color: $secondary;
    }
}

#topic-status-info {
    border-top: none;
}



// RTL Overrides
.rtl {
      
  .widget-button.btn.notifications-dropdown .fa {
     margin-left: -2px;
  }
      
  .topic-avatar {
    padding-right: initial;
    padding-left: 10px;
    .avatar-flair {
      right: initial;
      left: 4px;
    }
  }

  .embedded-posts .topic-avatar {
    padding-left: initial;
    padding-right: 0;
  }

  button#login-link, button#new-account-link {
    padding-left: initial;
    padding-right: inherit;
  }

  #create-topic.btn-default {
    right: initial;
    left: 50px;
    padding: 20px 2px 20px;
  }

  .widget-button.btn.create {
    left: initial;
    right: -18px;
    padding: 24px 5px 22px 20px;
  }

  .widget-button.btn.create .fa-reply {
    margin-left: initial;
    margin-right: -8px;
  }

  .widget-button.btn.notifications-dropdown {
    right: initial;
    left: 4px;
  }

  .widget-button.btn.notifications-dropdown .fa {
    margin-left: initial;
    margin-right: -2px;
  }
}

// RTL Overrides
@media only screen
and (min-width : 768px)
and (max-width: 1250px) {
  .rtl {
    .timeline-container {
      margin-left: initial;
      margin-right: 820px;
    }
    .topic-admin-popup-menu {
      left: initial !important;
      right:-40% !important;
    }
  }
}
